.options-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border: 1px solid red;
}

.options-hiragana{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: 10px; */
}

.options-hiragana h2{
    margin-bottom: 8px;
    font-weight: 400;
    text-decoration: underline;
}

.options-hiragana label{
    margin-bottom: 4px;
}

.options-hiragana input{
    accent-color: skyblue;
}